.container {
  padding: 0rem 4rem 2rem 4rem;
}

#container-login {
  animation-name: fade;
  animation-duration: 500ms;
}


.container h4 {
  padding-top: 2rem;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0rem 2rem 2rem 2rem;
    width: 90vw;
  }
}

@media screen and (min-width: 1366px) {
  .container {
    width: 45vw;
  }
}
